SERVER_PORT=3333
NODE_ENV=development

DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@HOST:PORT/${DATABASE_NAME}?schema=public"
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
